<div class="sub-footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer">
          <ul>
            <li>
              <strong>
                Telefon:
              </strong>
              <a href="tel:+40751450210">
                0751 450 210
              </a>
            </li>
            <li>
              <strong>
                Email:
              </strong>
              <a href="mailto:office@diligentoffice.ro">
                office@diligentoffice.ro
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="https://www.diligentoffice.ro">
                www.diligentoffice.ro
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
