.page-services-list {
  background-image: url('../images/undraw_businesswoman_pc12.svg');
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: 49px -40px;

  background-size: 300px;
  background-position: calc(50% + 100px) 80px;

  @include media-breakpoint-up(md) {
    background-size: 600px;
    background-position: calc(50% + 300px) 60px;
  }
}
