.service-summary {
  display: flex;
  align-items: flex-start;

  .service-content {
    flex: 1;
    .service-title {
      font-family: $font-family-heading;
      font-size: 1.6rem;
    }
    p {
      color: $secondary;
    }
  }
}
